@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {color: #EAC1A3; /*tekstin väri*/
    background-color: #3b3c3c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px;


}
nav { background-color: #3b3c3c;
    position: sticky;
    top: 0%;
    overflow: hidden;
    text-align: center;

}
nav a {color: #EAC1A3; /*linkin väri*/
    font-family: "Fraunces", serif;
    padding: 10px;
    background-color: #3b3c3c;
    display: inline-block;
    width: 3em;
    margin-top: 5px;
    text-decoration: none; /*alleviivaus pois*/


}

article {background-color: #3b3c3c;
    border: #3b3c3c 3px solid;
    padding: 15px;
    width: 100%; /*leveys*/
    max-width: 1200px; /*maksimileveys*/
    margin: auto; /*keskitys sivun keskelle*/
    border-radius: 0px; /*kulmien pyöristys*/
}
h1 {
    font-family: "Fraunces", serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: left;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

h2 {
    font-family: "Fraunces", serif;
    font-size: 17px;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    margin: left;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}


.keskelle {text-align: center;} /*keskitys*/

.keskelle img {width: 100%; /*skaalautuu mobiiliin*/
max-width: 600px; /*maksimileveys*/
}

.vasemmalle {text-align: left;}

.vasemmalle img {width: 100%;
max-width: 600px;
}

.img {
    width: 100%;
    height: auto;


} 

.sivulla {background-color: antiquewhite;

}
table {
  margin-left: auto;
  margin-right: auto;

}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #3b3c3c;
  }
  
  .flex-container > div {
    background-color: #3b3c3c;
    margin-left: auto;
    margin-right: auto;
    padding: none;
    font-size: 15px;

    
  }
  @media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
  }

  /*tabletti*/
@media (max-width: 800px){
    h1 {font-size: 24px;}
}

/*mobiili*/
  @media (max-width:570px){
    h1 {font-size: 24px;}

  }
  .href {
    padding: none;

  }
  #nappi {color: aliceblue;
        font-size: 12px;
        background-color: #3b3c3c;
        padding: none;
        text-decoration: none;
        margin-top: -50px;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
    hr {margin-top: 100px;}